body{
    background-color: aliceblue;
    overflow:hidden;
    margin:0;
    padding:0;
}


.clickable{
    cursor: pointer;
}
.button{
    border: fuchsia;
    color: white;
    padding: 200px 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
    position: absolute;
}

#pelota{
  border: 2px solid black;
  height: 40px;
  width: 40px;
  background-color: #fabada;
  border-radius: 20px;
  top: 0px;
  position: absolute;
}
